body {
  /* background-color: #faf8ef; */
  background: url('https://images.unsplash.com/photo-1510511459019-5dda7724fd87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h5, h1, h6, p, h3 {
  color: #ffff;
}

.name {
  color: #ffff;
}

.love {
  color: #ffff !important;
}

/*----------------- Mail-------------------- */
#email {
  text-decoration: none;
  float: right;
  color: #ffff;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}

@media (max-width: 479px) {
  .footer {
    margin-top: 35% !important;
  }
}

.fix {
  margin-top: -15px
}
